body {
    background: #f5d9d5;    
    font-family: "Nunito";
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
   

}
#mainNavbar .nav-link {
    color: white;
}
#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#headingGroup span {
    color: #ea1c2c;
}

#headingGroup H1 {
    font-weight: 100;
    font-size: 4rem; 
}

h2{
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.25rem;    
}

.blurb p {
    color: #f49fb8;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2;
}

.content {
    margin-bottom: 100px;
}

.navbar.scrolled{
    background: rgb(223, 141, 223);
    transition: background 200ms;
}

@media(max-width:1200px){
    
#headingGroup H1 {
    font-weight: 100;
    font-size: 3rem; 
}
}

